Documentation :

- the ordering is from oldest to latest
- Removed the $ from valuation
- Dropped Country and Date as it's redundant

In [58]:
import pandas as pd
import numpy as np
import re

In [59]:
df = pd.read_csv("Unicorns_US.csv")
df.head()
original_df = df.copy()

original_df

     Unnamed: 0  ...                                   Select Investors
0             1  ...        Khosla Ventures, LowercaseCapital, capitalG
1             2  ...  Founders Fund, Draper Fisher Jurvetson, Rothen...
2             5  ...  Khosla Ventures, Kleiner Perkins Caufield & By...
3             7  ...              Tencent Holdings, KKR, Smash Ventures
4             8  ...  Andreessen Horowitz, New Enterprise Associates...
..          ...  ...                                                ...
369         731  ...                   Warburg Pincus, General Catalyst
370         736  ...           Bessemer Venture Partners, MoreVC, Team8
371         738  ...  Balderton Capital, Next World Capital, Draper ...
372         739  ...  Javelin Venture Partners, TTV Capital, Peterso...
373         740  ...  Advance Venture Partners, Susquehanna Growth E...

[374 rows x 8 columns]

In [ ]:
df.columns[0]

In [61]:
remove_cols = ['Country','Date Joined',df.columns[0]]
df.drop(columns = remove_cols,axis=1,inplace=True)

In [62]:
def extract_value(value):

  valuation = float(value.strip('$'))
  return valuation

In [63]:
df['Valuation ($B)'] = df['Valuation ($B)'].apply(extract_value)

In [75]:
def extract_industries(indust):

  indust_list = [ind.strip() for ind in indust.split('&')]
  fill_value = ','.join(indust_list)
  return fill_value

In [76]:
df['Industry'] = df['Industry'].apply(extract_industries)

In [77]:
df

             Company  ...                                   Select Investors
0             Stripe  ...        Khosla Ventures, LowercaseCapital, capitalG
1             SpaceX  ...  Founders Fund, Draper Fisher Jurvetson, Rothen...
2          Instacart  ...  Khosla Ventures, Kleiner Perkins Caufield & By...
3         Epic Games  ...              Tencent Holdings, KKR, Smash Ventures
4         Databricks  ...  Andreessen Horowitz, New Enterprise Associates...
..               ...  ...                                                ...
369             Aura  ...                   Warburg Pincus, General Catalyst
370          Claroty  ...           Bessemer Venture Partners, MoreVC, Team8
371          Aircall  ...  Balderton Capital, Next World Capital, Draper ...
372       SmartAsset  ...  Javelin Venture Partners, TTV Capital, Peterso...
373  Morning Consult  ...  Advance Venture Partners, Susquehanna Growth E...

[374 rows x 5 columns]

In [78]:
df.to_csv("cleaned_unicorns_us_[data16].csv")